
.list_container{
    display: flex;
    margin: 30px;
    flex-direction: column;
    gap: 15px;
}
.btn_container{
    display: flex;
    padding: 26px;
    gap: 11px;
}
.todo{
    padding: 7px;
    width: 78px;
    border: none;
    border-radius: 5px;
    background-color: cadetblue;
    color: white;
}
.completed{
    padding: 7px;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: white;
}
.check[disabled]{
    background-color: gray;
    color: white;
}

button{
    border: none;
    border-radius: 20px;
    padding: 5px;
    font-weight: 200;
}
.check{
    background-color: green;
    color: white;
}
.trash{
    background-color: red;
    color: white;
}
.edit{
    background-color: rgb(33, 164, 215);
    color: white;
}
