.app{
  height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
}
.container{
  height: 80vh;
  width: 50vw;
  position: relative;
  top: 100px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: scroll;
}
.container h1{
  text-align: center;
}
